
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }

/* Shared styles */
.text-primary-one{
    color: #0E0E0E;
}

.text-primary-two{
    color: #006A50;
}

.text-primary-three{
    color: rgba(14, 14, 14, 0.5);
}

.back-color{
    background-color: #f5f5f5;
}

.btn-primary{
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
}

.btn-secondary{
    color: #ffffff;
    background-color: #006A50;
    padding: 17px 34px;
    border: none;
}

.btn-third{
    padding: 11px 20px;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
}

.section-heading{
    margin-top: 0;
    margin-bottom: 32px;
    max-height: 120px;
}

.heading{
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
}

.text{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}

.icon1{
    max-width: 64px;
    max-height: 64px;
    margin-bottom: 24px;
}

.text-center{
    text-align: center;
}

/* Nav styles */
nav{
    display: flex; 
    padding: 24px 160px;
    align-items: center;
    justify-content: space-between;
}

.nav-title{
    font-size: 32px;
    font-weight: bold;
}

.btn-sign-in{
    padding: 15px 30px;
    border: 2px solid #006A50;
    height: 52px;
}

/* Banner styles */

.banner{
    height: 560px;
    background-color: #C6E4D6;
    margin: 0 160px 80px 160px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content{
    max-width: 622px;
    margin-left: 60px;
}

.banner-heading{
    margin-top: 0;
    font-size: 24px;
    font-weight: 500;
}

.banner-text{
    font-weight: bold;
    font-size: 56px;
}

.banner-pic{
    max-width: 474px;
    margin-right: 60px;
}

/* Vision styles */

.vision{
    margin: 0 160px 80px 160px;
    justify-content: space-around;
}

.vision-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}


.card1{
    max-width: 320px;
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
    padding: 32px 32px;
    justify-content: space-around;
}

.v-btn-one{
    background-color: #5490F5;
}

.card2{
    max-width: 320px;
    background-color: #C6E4D6;
    border-radius: 16px;
    padding: 32px 32px;
    justify-content: space-around;
}

.v-btn-two{
    background-color: #09A15C;
}

.card3{
    max-width: 320px;
    background-color: #F7EBCF;
    border-radius: 16px;
    padding: 32px 32px;
    justify-content: space-around;
}

.v-btn-three{
    background-color: #FFC239;
}

.s-heading{
    margin-top: 0;
    margin-bottom: 12px;
}

.card-text{
    margin-bottom: 24px;
}

.diff-color{
    color: rgba(14, 14, 14, 0.6);
}

.quote{
    background-color: #ffffff;
    padding: 48px 24px;
    border-radius: 16px;
    background-image: url("../images/quote-bg.png");
    background-repeat: no-repeat;
    background-position: top 25px left 24px;
}

/* News Styles */

.recent-news{
    margin: 0 160px 80px 160px;
    justify-content: space-around;
}

.news-title{
    color: rgba(14, 14, 14, 0.8);
}

.news1{
    background-color: #ffffff;
    border-radius: 24px;
    padding: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.news-card{
    margin-bottom: 40px;
}

.btn-news{
    color: #ffffff;
    background-color: #006A50;
    padding: 13px 26px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    margin-top: 32px;
}

.image1{
    margin-right: 32px;
    border-radius: 24px;
    max-height: 306px;
}

.image2{
    margin-left: 32px;
    border-radius: 24px;
    width: 408px;
    height: 306px;
}

.news2{
    margin-bottom: 0;
}

/* Donate Styles */

.donate{
    margin: 0 160px 80px 160px;
    display: block;
    align-items: center;
    justify-content: space-around;
}

.amounts{
    margin: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.amount1{
    padding: 40px;
    color: rgba(14, 14, 14, 0.8);
    background-color: #ffffff;
    border-radius: 16px;
}

.amount2{
    padding: 40px;
    color: rgba(14, 14, 14, 0.8);
    background-color: #C6E4D6;
    border-radius: 16px;
}

.amount-taka{
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 32px;
    padding: 20px 423px;
    border: none;
    background-color: #ffffff;
    color: rgba(14, 14, 14, 0.3);
    font-weight: 400;
    font-size: 20px;
}

.btn-donate{
    display: flex;
    margin: 0 auto;
}
